# 관광객 데이터 전처리

## 데이터 불러오기

In [1]:
# kto_201901.xlsx 파일 불러오기
# - 컬럼명과 컬럼에 대한 데이터만 불러오기

import pandas as pd

file_path = './files/kto_201901.xlsx'

kto_201901 = pd.read_excel(file_path, header = 1)
kto_201901

,국적,관광,상용,공용,유학/연수,기타,계,전년동기,성장률(%),구성비(%)
0,아시아주,765082.0,10837.0,1423.0,14087.0,125521.0,916950.0,775023.0,18.3,83.0
1,일본,198805.0,2233.0,127.0,785.0,4576.0,206526.0,167083.0,23.6,18.7
2,대만,86393.0,74.0,22.0,180.0,1285.0,87954.0,75820.0,16.0,8.0
3,홍콩,34653.0,59.0,2.0,90.0,1092.0,35896.0,34671.0,3.5,3.2
4,마카오,2506.0,2.0,0.0,17.0,45.0,2570.0,2933.0,-12.4,0.2
...,...,...,...,...,...,...,...,...,...,...
66,교포,0.0,0.0,0.0,0.0,15526.0,15526.0,19196.0,-19.1,1.4
67,계,884293.0,13675.0,4439.0,15995.0,186401.0,1104803.0,NaN,NaN,NaN
68,전년동기,742732.0,14663.0,4126.0,13858.0,180657.0,956036.0,NaN,NaN,NaN
69,성장률(%),19.1,-6.7,7.6,15.4,3.2,15.6,NaN,NaN,NaN
70,구성비(%),80.0,1.2,0.4,1.4,16.9,100.0,NaN,NaN,NaN

In [2]:
# *자동화*

kto_201901 = pd.read_excel(file_path, 
                           header = 1,            # 컬럼의 위치 지정 (컬럼의 위치가 첫번째에 있다) 
                           skipfooter = 4,        # 제일 밑에서부터 몇 개를 제거할 것이냐 (4개 제거할 것임)
                           usecols = "A:G"        # 사용할 컬럼 범위
                           )
kto_201901

         국적      관광     상용    공용  유학/연수      기타       계
0      아시아주  765082  10837  1423  14087  125521  916950
1        일본  198805   2233   127    785    4576  206526
2        대만   86393     74    22    180    1285   87954
3        홍콩   34653     59     2     90    1092   35896
4       마카오    2506      2     0     17      45    2570
..      ...     ...    ...   ...    ...     ...     ...
62  아프리카 기타     768    718    90    206     908    2690
63     기타대륙      33      4     0      1      16      54
64     국적미상      33      4     0      1      16      54
65     교포소계       0      0     0      0   15526   15526
66       교포       0      0     0      0   15526   15526

[67 rows x 7 columns]

In [3]:
kto_201901.head()

     국적      관광     상용    공용  유학/연수      기타       계
0  아시아주  765082  10837  1423  14087  125521  916950
1    일본  198805   2233   127    785    4576  206526
2    대만   86393     74    22    180    1285   87954
3    홍콩   34653     59     2     90    1092   35896
4   마카오    2506      2     0     17      45    2570

In [4]:
# 기본 정보 확인하기 : 결측치 확인 가능
kto_201901.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국적      67 non-null     object
 1   관광      67 non-null     int64
 2   상용      67 non-null     int64
 3   공용      67 non-null     int64
 4   유학/연수   67 non-null     int64
 5   기타      67 non-null     int64
 6   계       67 non-null     int64
dtypes: int64(6), object(1)
memory usage: 3.8+ KB

In [5]:
kto_201901.describe()

,관광,상용,공용,유학/연수,기타,계
count,67.00000,67.000000,67.000000,67.000000,67.000000,67.000000
mean,26396.80597,408.208955,132.507463,477.462687,5564.208955,32979.194030
std,102954.04969,1416.040302,474.406339,2009.484800,17209.438418,122821.369969
min,0.00000,0.000000,0.000000,0.000000,16.000000,54.000000
25%,505.00000,14.500000,2.500000,17.500000,260.000000,927.000000
50%,1304.00000,45.000000,14.000000,43.000000,912.000000,2695.000000
75%,8365.00000,176.500000,38.000000,182.000000,2824.500000,14905.500000
max,765082.00000,10837.000000,2657.000000,14087.000000,125521.000000,916950.000000

In [6]:
# 관광, 상용, 공용, 유학/연수의 데이터 중에서 0이 있는 컬럼들을 모두 조회

condition = (kto_201901["관광"] == 0) \
             | (kto_201901["상용"] == 0) \
             | (kto_201901["공용"] == 0) \
             | (kto_201901["유학/연수"] == 0)
# 원화 표시 쓰고 바로 엔터 (띄어쓰기 없이 바로 엔터)
condition

0     False
1     False
2     False
3     False
4      True
      ...
62    False
63     True
64     True
65     True
66     True
Length: 67, dtype: bool

In [7]:
kto_201901[condition]

        국적    관광   상용  공용  유학/연수     기타      계
4      마카오  2506    2   0     17     45   2570
20    이스라엘   727   12   0      9     57    805
22  우즈베키스탄  1958  561   0    407   2828   5754
38     스위스   613   18   0     19     97    747
45     그리스   481   17   4      0    273    775
46    포르투갈   416   14   0     13    121    564
51   크로아티아   226   12   0      3    250    491
54     폴란드   713   10   0     27    574   1324
59  대양주 기타   555    3   4      0     52    614
63    기타대륙    33    4   0      1     16     54
64    국적미상    33    4   0      1     16     54
65    교포소계     0    0   0      0  15526  15526
66      교포     0    0   0      0  15526  15526

In [8]:
# *자동화*

# 년, 월에 대한 컬럼을 추가하겠습니다
# 컬람명 : 기준년월
# 값     : 2019-01

kto_201901['기준년월'] = '2019-01'
kto_201901

         국적      관광     상용    공용  유학/연수      기타       계     기준년월
0      아시아주  765082  10837  1423  14087  125521  916950  2019-01
1        일본  198805   2233   127    785    4576  206526  2019-01
2        대만   86393     74    22    180    1285   87954  2019-01
3        홍콩   34653     59     2     90    1092   35896  2019-01
4       마카오    2506      2     0     17      45    2570  2019-01
..      ...     ...    ...   ...    ...     ...     ...      ...
62  아프리카 기타     768    718    90    206     908    2690  2019-01
63     기타대륙      33      4     0      1      16      54  2019-01
64     국적미상      33      4     0      1      16      54  2019-01
65     교포소계       0      0     0      0   15526   15526  2019-01
66       교포       0      0     0      0   15526   15526  2019-01

[67 rows x 8 columns]

In [9]:
# 국적 컬럼의 값을 조회 (고유한 값들만 뽑아보기(유니크한 값, 중복 빼고))

kto_201901['국적'].unique()

array(['아시아주', '일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아',
       '싱가포르', '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골',
       '중국', '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타', '미주',
       '미국', '캐나다', '멕시코', '브라질', '미주 기타', '구주', '영국', '독일', '프랑스',
       '네덜란드', '스웨덴', '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인',
       '그리스', '포르투갈', '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아',
       '불가리아', '폴란드', '구주 기타', '대양주', '오스트레일리아', '뉴질랜드', '대양주 기타',
       '아프리카주', '남아프리카공화국', '아프리카 기타', '기타대륙', '국적미상', '교포소계', '교포'],
      dtype=object)

In [10]:
# *자동화*

# 1. 필터링
#   - 수고롭지만 제거할 컬럼명을 따로 리스트로 모음

# 대륙의 값들을 관리하는 목록 만들기 : 기준이 없기 때문에 기준을 만들어 줌
continents_list = ['아시아주', '미주', '구주', '대양주', 
                    '아프리카주', '기타대륙', '교포소계']
continents_list

['아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계']

In [11]:
# *자동화*

# 국적 데이터에서 대륙 기준값이 포홤되어 있는지 확인
# 포함되어 있으면 True, 없으면 False가 조회될 것임
# 사용되는 함수 : isin()

kto_201901['국적'].isin(continents_list)

condition = ( kto_201901['국적'].isin(continents_list) )
condition

0      True
1     False
2     False
3     False
4     False
      ...
62    False
63     True
64    False
65     True
66    False
Name: 국적, Length: 67, dtype: bool

In [12]:
# *자동화*

kto_201901_country = kto_201901[condition == False]

kto_201901_country

          국적      관광    상용    공용  유학/연수     기타       계     기준년월
1         일본  198805  2233   127    785   4576  206526  2019-01
2         대만   86393    74    22    180   1285   87954  2019-01
3         홍콩   34653    59     2     90   1092   35896  2019-01
4        마카오    2506     2     0     17     45    2570  2019-01
5         태국   34004    37   199     96   6998   41334  2019-01
6      말레이시아   19043    95     7     99   2821   22065  2019-01
7        필리핀   14279   211   161    184  15638   30473  2019-01
8      인도네시아   14183   136    38    187   4298   18842  2019-01
9       싱가포르    8372    94     8     48   1333    9855  2019-01
10       미얀마    1304    10    31     67   3877    5289  2019-01
11       베트남   10739   763   110   1667   6904   20183  2019-01
12        인도    2318  2656    46    177   3474    8671  2019-01
13      스리랑카     157    54     5     28   1043    1287  2019-01
14      파키스탄     238   178    10    193    413    1032  2019-01
15     방글라데시     149   126    27     97    848    1247  2019-01
16      캄보디아     635    39    55     51   1915    2695  2019-01
17        몽골    8358    77   304    484    562    9785  2019-01
18        중국  320113  2993   138   8793  60777  392814  2019-01
19        이란      60    45    10     23     46     184  2019-01
20      이스라엘     727    12     0      9     57     805  2019-01
21        터키     792    13    32     36    912    1785  2019-01
22    우즈베키스탄    1958   561     0    407   2828    5754  2019-01
23     카자흐스탄    2185    24     7     92   1266    3574  2019-01
24       GCC    1550    37    14     72    103    1776  2019-01
25    아시아 기타    1561   308    70    205   2410    4554  2019-01
27        미국   42989   418  2578    229  16523   62737  2019-01
28       캐나다    8034    57    30     43   4296   12460  2019-01
29       멕시코    1282    11     7     38    515    1853  2019-01
30       브라질    1136    16     9     41    403    1605  2019-01
31     미주 기타    1541    24    33    128    540    2266  2019-01
33        영국    7982   175    17     41   1933   10148  2019-01
34        독일    4925   278    19    177   1451    6850  2019-01
35       프랑스    3773   297    48    288   1168    5574  2019-01
36      네덜란드    1592    47    16     77    537    2269  2019-01
37       스웨덴     844    29     6     18     85     982  2019-01
38       스위스     613    18     0     19     97     747  2019-01
39      이탈리아    1968    83    17     40    623    2731  2019-01
40       덴마크     520    21     6     16    188     751  2019-01
41      노르웨이     552    66     4     28    151     801  2019-01
42       벨기에     490    24     4     22    169     709  2019-01
43     오스트리아     544     8     2     13    209     776  2019-01
44       스페인    1010    36    15     52    255    1368  2019-01
45       그리스     481    17     4      0    273     775  2019-01
46      포르투갈     416    14     0     13    121     564  2019-01
47       핀란드     412    23     1     18    405     859  2019-01
48      아일랜드     392    15     1      2    185     595  2019-01
49     우크라이나     593    58     3     28   1580    2262  2019-01
50       러시아   17260   181    37    191   7525   25194  2019-01
51     크로아티아     226    12     0      3    250     491  2019-01
52      루마니아     412     8     4      3    445     872  2019-01
53      불가리아     154     1     1     10    265     431  2019-01
54       폴란드     713    10     0     27    574    1324  2019-01
55     구주 기타    1809    44    25     91    996    2965  2019-01
57   오스트레일리아   12795    93    17     34   1346   14285  2019-01
58      뉴질랜드    2029    20    17      5    654    2725  2019-01
59    대양주 기타     555     3     4      0     52     614  2019-01
61  남아프리카공화국     368     9     1      6    616    1000  2019-01
62   아프리카 기타     768   718    90    206    908    2690  2019-01
64      국적미상      33     4     0      1     16      54  2019-01
66        교포       0     0     0      0  15526   15526  2019-01

In [13]:
# 우리가 사용할 컬럼 맞는지 확인
kto_201901_country['국적'].unique()

array(['일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아', '싱가포르',
       '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골', '중국',
       '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타', '미국',
       '캐나다', '멕시코', '브라질', '미주 기타', '영국', '독일', '프랑스', '네덜란드', '스웨덴',
       '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인', '그리스', '포르투갈',
       '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아', '불가리아', '폴란드',
       '구주 기타', '오스트레일리아', '뉴질랜드', '대양주 기타', '남아프리카공화국', '아프리카 기타',
       '국적미상', '교포'], dtype=object)

In [14]:
# *자동화*

# 인덱스 번호 재배열 (0부터 순서대로) 해주세요.
# 재배열 후에 'kto_201901_country_newindex' 변수에 저장하기

kto_201901_country_newindex = kto_201901_country.reset_index(drop = True)   
# drop = True : 기존의 인덱스 번호가 컬럼으로 들어오는 것을 막기 위해서

kto_201901_country_newindex

    index        국적      관광    상용    공용  유학/연수     기타       계     기준년월
0       1        일본  198805  2233   127    785   4576  206526  2019-01
1       2        대만   86393    74    22    180   1285   87954  2019-01
2       3        홍콩   34653    59     2     90   1092   35896  2019-01
3       4       마카오    2506     2     0     17     45    2570  2019-01
4       5        태국   34004    37   199     96   6998   41334  2019-01
5       6     말레이시아   19043    95     7     99   2821   22065  2019-01
6       7       필리핀   14279   211   161    184  15638   30473  2019-01
7       8     인도네시아   14183   136    38    187   4298   18842  2019-01
8       9      싱가포르    8372    94     8     48   1333    9855  2019-01
9      10       미얀마    1304    10    31     67   3877    5289  2019-01
10     11       베트남   10739   763   110   1667   6904   20183  2019-01
11     12        인도    2318  2656    46    177   3474    8671  2019-01
12     13      스리랑카     157    54     5     28   1043    1287  2019-01
13     14      파키스탄     238   178    10    193    413    1032  2019-01
14     15     방글라데시     149   126    27     97    848    1247  2019-01
15     16      캄보디아     635    39    55     51   1915    2695  2019-01
16     17        몽골    8358    77   304    484    562    9785  2019-01
17     18        중국  320113  2993   138   8793  60777  392814  2019-01
18     19        이란      60    45    10     23     46     184  2019-01
19     20      이스라엘     727    12     0      9     57     805  2019-01
20     21        터키     792    13    32     36    912    1785  2019-01
21     22    우즈베키스탄    1958   561     0    407   2828    5754  2019-01
22     23     카자흐스탄    2185    24     7     92   1266    3574  2019-01
23     24       GCC    1550    37    14     72    103    1776  2019-01
24     25    아시아 기타    1561   308    70    205   2410    4554  2019-01
25     27        미국   42989   418  2578    229  16523   62737  2019-01
26     28       캐나다    8034    57    30     43   4296   12460  2019-01
27     29       멕시코    1282    11     7     38    515    1853  2019-01
28     30       브라질    1136    16     9     41    403    1605  2019-01
29     31     미주 기타    1541    24    33    128    540    2266  2019-01
30     33        영국    7982   175    17     41   1933   10148  2019-01
31     34        독일    4925   278    19    177   1451    6850  2019-01
32     35       프랑스    3773   297    48    288   1168    5574  2019-01
33     36      네덜란드    1592    47    16     77    537    2269  2019-01
34     37       스웨덴     844    29     6     18     85     982  2019-01
35     38       스위스     613    18     0     19     97     747  2019-01
36     39      이탈리아    1968    83    17     40    623    2731  2019-01
37     40       덴마크     520    21     6     16    188     751  2019-01
38     41      노르웨이     552    66     4     28    151     801  2019-01
39     42       벨기에     490    24     4     22    169     709  2019-01
40     43     오스트리아     544     8     2     13    209     776  2019-01
41     44       스페인    1010    36    15     52    255    1368  2019-01
42     45       그리스     481    17     4      0    273     775  2019-01
43     46      포르투갈     416    14     0     13    121     564  2019-01
44     47       핀란드     412    23     1     18    405     859  2019-01
45     48      아일랜드     392    15     1      2    185     595  2019-01
46     49     우크라이나     593    58     3     28   1580    2262  2019-01
47     50       러시아   17260   181    37    191   7525   25194  2019-01
48     51     크로아티아     226    12     0      3    250     491  2019-01
49     52      루마니아     412     8     4      3    445     872  2019-01
50     53      불가리아     154     1     1     10    265     431  2019-01
51     54       폴란드     713    10     0     27    574    1324  2019-01
52     55     구주 기타    1809    44    25     91    996    2965  2019-01
53     57   오스트레일리아   12795    93    17     34   1346   14285  2019-01
54     58      뉴질랜드    2029    20    17      5    654    2725  2019-01
55     59    대양주 기타     555     3     4      0     52     614  2019-01
56     61  남아프리카공화국     368     9     1      6    616    1000  2019-01
57     62   아프리카 기타     768   718    90    206    908    2690  2019-01
58     64      국적미상      33     4     0      1     16      54  2019-01
59     66        교포       0     0     0      0  15526   15526  2019-01

In [15]:
# 대륙 컬럼을 만들어서 각 국가별로 알려줄 거예요

len(kto_201901_country_newindex)

#

60

In [16]:
# *자동화*

# 아시아(25), 아메리카(5), 유럽(23), 오세아니아(3), 아프리카(2), 기타대륙(1), 교포(1)

['아시아']*25       # 0번째부터 24번째까지 '아시아'
['아메리카']*5      # 0번째부터 4번째까지 '아메리카'

continents = ['아시아']*25 + ['아메리카']*5 + ['유럽']*23 + ['오세아니아']*3 \
             + ['아프리카']*2 + ['기타대륙'] + ['교포']
continents

['아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아메리카',
 '아메리카',
 '아메리카',
 '아메리카',
 '아메리카',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '오세아니아',
 '오세아니아',
 '오세아니아',
 '아프리카',
 '아프리카',
 '기타대륙',
 '교포']

In [17]:
# *자동화*

# 대륙 추가

kto_201901_country_newindex['대륙'] = continents

kto_201901_country_newindex.head()
kto_201901_country_newindex.tail()

    index        국적   관광   상용  공용  유학/연수     기타      계     기준년월     대륙
55     59    대양주 기타  555    3   4      0     52    614  2019-01  오세아니아
56     61  남아프리카공화국  368    9   1      6    616   1000  2019-01   아프리카
57     62   아프리카 기타  768  718  90    206    908   2690  2019-01   아프리카
58     64      국적미상   33    4   0      1     16     54  2019-01   기타대륙
59     66        교포    0    0   0      0  15526  15526  2019-01     교포

In [18]:
# *자동화*

# 국가 내 관광객 비율을 계산하여 '관광객비율(%)' 이름으로 컬럼 만들기
# 값은 비율 계산하여 넣기
# 비율값은 소수점 1자리까지만 

kto_201901_country_newindex['관광객비율(%)'] = (round((kto_201901_country_newindex['관광'] / kto_201901_country_newindex['계'])*100, 1))

kto_201901_country_newindex.head()

   index   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)
0      1   일본  198805  2233  127    785  4576  206526  2019-01  아시아      96.3
1      2   대만   86393    74   22    180  1285   87954  2019-01  아시아      98.2
2      3   홍콩   34653    59    2     90  1092   35896  2019-01  아시아      96.5
3      4  마카오    2506     2    0     17    45    2570  2019-01  아시아      97.5
4      5   태국   34004    37  199     96  6998   41334  2019-01  아시아      82.3

In [19]:
# *자동화*

# 전세계 관광객 입국객수 대비 국가별 관광객 비율을 계산하여 컬럼 생성
# 컬럼명 : 전체 비율(%)
# 값     : 각 국가 관광객수 / 전세계 관광객수 * 100
# 소수점 1자리까지

kto_201901_country_newindex['전체 비율(%)'] = (round( (kto_201901_country_newindex['관광'] / sum(kto_201901_country_newindex['관광']))*100, 1))

kto_201901_country_newindex.head()

,index,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체 비율(%)
0,1,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.3,22.5
1,2,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.2,9.8
2,3,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.5,3.9
3,4,마카오,2506,2,0,17,45,2570,2019-01,아시아,97.5,0.3
4,5,태국,34004,37,199,96,6998,41334,2019-01,아시아,82.3,3.8

In [20]:
# 전세계 국가 중에 우리나라에 관광을 위해서 들어오는 비율이 가장 높은 5개 국가만 조회

kto_201901_country_newindex.sort_values('전체 비율(%)',
                                        ascending = False)

,index,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체 비율(%)
17,18,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,81.5,36.2
0,1,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.3,22.5
1,2,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.2,9.8
25,27,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,68.5,4.9
2,3,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.5,3.9
4,5,태국,34004,37,199,96,6998,41334,2019-01,아시아,82.3,3.8
5,6,말레이시아,19043,95,7,99,2821,22065,2019-01,아시아,86.3,2.2
47,50,러시아,17260,181,37,191,7525,25194,2019-01,유럽,68.5,2.0
6,7,필리핀,14279,211,161,184,15638,30473,2019-01,아시아,46.9,1.6
7,8,인도네시아,14183,136,38,187,4298,18842,2019-01,아시아,75.3,1.6
53,57,오스트레일리아,12795,93,17,34,1346,14285,2019-01,오세아니아,89.6,1.4
10,11,베트남,10739,763,110,1667,6904,20183,2019-01,아시아,53.2,1.2
16,17,몽골,8358,77,304,484,562,9785,2019-01,아시아,85.4,0.9
26,28,캐나다,8034,57,30,43,4296,12460,2019-01,아메리카,64.5,0.9
30,33,영국,7982,175,17,41,1933,10148,2019-01,유럽,78.7,0.9
8,9,싱가포르,8372,94,8,48,1333,9855,2019-01,아시아,85.0,0.9
31,34,독일,4925,278,19,177,1451,6850,2019-01,유럽,71.9,0.6
32,35,프랑스,3773,297,48,288,1168,5574,2019-01,유럽,67.7,0.4
11,12,인도,2318,2656,46,177,3474,8671,2019-01,아시아,26.7,0.3
3,4,마카오,2506,2,0,17,45,2570,2019-01,아시아,97.5,0.3
36,39,이탈리아,1968,83,17,40,623,2731,2019-01,유럽,72.1,0.2
54,58,뉴질랜드,2029,20,17,5,654,2725,2019-01,오세아니아,74.5,0.2
21,22,우즈베키스탄,1958,561,0,407,2828,5754,2019-01,아시아,34.0,0.2
22,23,카자흐스탄,2185,24,7,92,1266,3574,2019-01,아시아,61.1,0.2
23,24,GCC,1550,37,14,72,103,1776,2019-01,아시아,87.3,0.2
24,25,아시아 기타,1561,308,70,205,2410,4554,2019-01,아시아,34.3,0.2
52,55,구주 기타,1809,44,25,91,996,2965,2019-01,유럽,61.0,0.2
33,36,네덜란드,1592,47,16,77,537,2269,2019-01,유럽,70.2,0.2
29,31,미주 기타,1541,24,33,128,540,2266,2019-01,아메리카,68.0,0.2
41,44,스페인,1010,36,15,52,255,1368,2019-01,유럽,73.8,0.1
42,45,그리스,481,17,4,0,273,775,2019-01,유럽,62.1,0.1
15,16,캄보디아,635,39,55,51,1915,2695,2019-01,아시아,23.6,0.1
46,49,우크라이나,593,58,3,28,1580,2262,2019-01,유럽,26.2,0.1
51,54,폴란드,713,10,0,27,574,1324,2019-01,유럽,53.9,0.1
39,42,벨기에,490,24,4,22,169,709,2019-01,유럽,69.1,0.1
55,59,대양주 기타,555,3,4,0,52,614,2019-01,오세아니아,90.4,0.1
57,62,아프리카 기타,768,718,90,206,908,2690,2019-01,아프리카,28.6,0.1
40,43,오스트리아,544,8,2,13,209,776,2019-01,유럽,70.1,0.1
37,40,덴마크,520,21,6,16,188,751,2019-01,유럽,69.2,0.1
38,41,노르웨이,552,66,4,28,151,801,2019-01,유럽,68.9,0.1
35,38,스위스,613,18,0,19,97,747,2019-01,유럽,82.1,0.1
34,37,스웨덴,844,29,6,18,85,982,2019-01,유럽,85.9,0.1
9,10,미얀마,1304,10,31,67,3877,5289,2019-01,아시아,24.7,0.1
28,30,브라질,1136,16,9,41,403,1605,2019-01,아메리카,70.8,0.1
19,20,이스라엘,727,12,0,9,57,805,2019-01,아시아,90.3,0.1
20,21,터키,792,13,32,36,912,1785,2019-01,아시아,44.4,0.1
27,29,멕시코,1282,11,7,38,515,1853,2019-01,아메리카,69.2,0.1
12,13,스리랑카,157,54,5,28,1043,1287,2019-01,아시아,12.2,0.0
58,64,국적미상,33,4,0,1,16,54,2019-01,기타대륙,61.1,0.0
13,14,파키스탄,238,178,10,193,413,1032,2019-01,아시아,23.1,0.0
56,61,남아프리카공화국,368,9,1,6,616,1000,2019-01,아프리카,36.8,0.0
18,19,이란,60,45,10,23,46,184,2019-01,아시아,32.6,0.0
49,52,루마니아,412,8,4,3,445,872,2019-01,유럽,47.2,0.0
50,53,불가리아,154,1,1,10,265,431,2019-01,유럽,35.7,0.0
14,15,방글라데시,149,126,27,97,848,1247,2019-01,아시아,11.9,0.0
48,51,크로아티아,226,12,0,3,250,491,2019-01,유럽,46.0,0.0
45,48,아일랜드,392,15,1,2,185,595,2019-01,유럽,65.9,0.0
44,47,핀란드,412,23,1,18,405,859,2019-01,유럽,48.0,0.0
43,46,포르투갈,416,14,0,13,121,564,2019-01,유럽,73.8,0.0
59,66,교포,0,0,0,0,15526,15526,2019-01,교포,0.0,0.0

In [21]:
# 201001~201912까지의 파일명 자동 생성하기
# kto_yyyymm.xlsx 형태로 출력해보세요.
# 년도 4자리, 월 2자리 입니다. 

for year in range(2010, 2020):
    for mon in range(1, 13):
        # ('kto_' + str(year) + str(mon).zfill(2) + '.xlsx')
        yymm = 'kto_{}{}.xlsx'.format(year, str(mon).zfill(2))
        print(yymm)
        
# zfill() : 1이면 01로 바꿔줌 (zero로 채워라, 문자열에서 사용)

kto_201001.xlsx
kto_201002.xlsx
kto_201003.xlsx
kto_201004.xlsx
kto_201005.xlsx
kto_201006.xlsx
kto_201007.xlsx
kto_201008.xlsx
kto_201009.xlsx
kto_201010.xlsx
kto_201011.xlsx
kto_201012.xlsx
kto_201101.xlsx
kto_201102.xlsx
kto_201103.xlsx
kto_201104.xlsx
kto_201105.xlsx
kto_201106.xlsx
kto_201107.xlsx
kto_201108.xlsx
kto_201109.xlsx
kto_201110.xlsx
kto_201111.xlsx
kto_201112.xlsx
kto_201201.xlsx
kto_201202.xlsx
kto_201203.xlsx
kto_201204.xlsx
kto_201205.xlsx
kto_201206.xlsx
kto_201207.xlsx
kto_201208.xlsx
kto_201209.xlsx
kto_201210.xlsx
kto_201211.xlsx
kto_201212.xlsx
kto_201301.xlsx
kto_201302.xlsx
kto_201303.xlsx
kto_201304.xlsx
kto_201305.xlsx
kto_201306.xlsx
kto_201307.xlsx
kto_201308.xlsx
kto_201309.xlsx
kto_201310.xlsx
kto_201311.xlsx
kto_201312.xlsx
kto_201401.xlsx
kto_201402.xlsx
kto_201403.xlsx
kto_201404.xlsx
kto_201405.xlsx
kto_201406.xlsx
kto_201407.xlsx
kto_201408.xlsx
kto_201409.xlsx
kto_201410.xlsx
kto_201411.xlsx
kto_201412.xlsx
kto_201501.xlsx
kto_201502.xlsx
kto_201503.xlsx
kto_201504.xlsx
kto_201505.xlsx
kto_201506.xlsx
kto_201507.xlsx
kto_201508.xlsx
kto_201509.xlsx
kto_201510.xlsx
kto_201511.xlsx
kto_201512.xlsx
kto_201601.xlsx
kto_201602.xlsx
kto_201603.xlsx
kto_201604.xlsx
kto_201605.xlsx
kto_201606.xlsx
kto_201607.xlsx
kto_201608.xlsx
kto_201609.xlsx
kto_201610.xlsx
kto_201611.xlsx
kto_201612.xlsx
kto_201701.xlsx
kto_201702.xlsx
kto_201703.xlsx
kto_201704.xlsx
kto_201705.xlsx
kto_201706.xlsx
kto_201707.xlsx
kto_201708.xlsx
kto_201709.xlsx
kto_201710.xlsx
kto_201711.xlsx
kto_201712.xlsx
kto_201801.xlsx
kto_201802.xlsx
kto_201803.xlsx
kto_201804.xlsx
kto_201805.xlsx
kto_201806.xlsx
kto_201807.xlsx
kto_201808.xlsx
kto_201809.xlsx
kto_201810.xlsx
kto_201811.xlsx
kto_201812.xlsx
kto_201901.xlsx
kto_201902.xlsx
kto_201903.xlsx
kto_201904.xlsx
kto_201905.xlsx
kto_201906.xlsx
kto_201907.xlsx
kto_201908.xlsx
kto_201909.xlsx
kto_201910.xlsx
kto_201911.xlsx
kto_201912.xlsx

In [22]:
# 반복문 안에서
# 116개 파일 불러오기
# 파일을 하나씩 불러온 후 df라는 데이터프레임 변수에 저장 후 len(df)로
# 각각의 행의 갯수를 출력하게 해주세요

for year in range(2010, 2020) :
    for mon in range(1, 13) :        
        file_path= './files/kto_{}{}.xlsx'.format(year, str(mon).zfill(2))

        df = pd.read_excel(file_path, header=1, skipfooter=4, usecols='A:G')
        print(len(df))

67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67

FileNotFoundError: [Errno 2] No such file or directory: './files/kto_201909.xlsx'

### 자동화로 전체 실행하기

In [23]:
# 전체 실행하기

for year in range(2010, 2020) :
    for mon in range(1, 13) :
        try : 
            file_path= './files/kto_{}{}.xlsx'.format(year, str(mon).zfill(2))

            df = pd.read_excel(file_path, header=1, skipfooter=4, usecols='A:G')
            # print(len(df))

            df['기준년월'] = '{}-{}'.format(year, str(mon).zfill(2))

            continents_list = ['아시아주', '미주', '구주', '대양주', 
                               '아프리카주', '기타대륙', '교포소계']

            df['국적'].isin(continents_list)

            condition = ( df['국적'].isin(continents_list) )

            df_country = df[condition == False]

            df_country_newindex = df_country.reset_index(drop = True)   

            continents = ['아시아']*25 + ['아메리카']*5 + ['유럽']*23 + \
                         ['오세아니아']*3 + ['아프리카']*2 + ['기타대륙'] + ['교포']

            df_country_newindex['대륙'] = continents

            df_country_newindex['관광객비율(%)'] = (round((df_country_newindex['관광'] \
                                                     / df_country_newindex['계'])*100, 1))

            df_country_newindex['전체 비율(%)'] = (round( (df_country_newindex['관광'] \
                                                     / sum(df_country_newindex['관광']))*100, 1))

            print(df_country_newindex.head(1))
        
        except :         
            pass           # 오류 나는 건 패스하겠다

   index  국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  202825  1750  89    549  3971  209184  2010-01  아시아      97.0

   전체 비율(%)
0      50.6
   index  국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  224475  1455  63   1172  3197  230362  2010-02  아시아      97.4

   전체 비율(%)
0      50.3
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  299820  1483  124    519  4180  306126  2010-03  아시아      97.9

   전체 비율(%)
0      55.0
   index  국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  233697  1282  74    154  3868  239075  2010-04  아시아      97.8

   전체 비율(%)
0      43.0
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  233311  1480  150    216  6538  241695  2010-05  아시아      96.5

   전체 비율(%)
0      44.4
   index  국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  226786  1236  81    358  3257  231718  2010-06  아시아      97.9

   전체 비율(%)
0      43.6
   index  국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  221590  1279  76    323  4273  227541  2010-07  아시아      97.4

   전체 비율(%)
0      41.0
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  254178  1616  103   1238  5022  262157  2010-08  아시아      97.0

   전체 비율(%)
0      43.8
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  259846  1791  147    576  5526  267886  2010-09  아시아      97.0

   전체 비율(%)
0      47.5
   index  국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  295488  1270  85    199  5528  302570  2010-10  아시아      97.7

   전체 비율(%)
0      44.9
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  268947  1370  153    231  4188  274889  2010-11  아시아      97.8

   전체 비율(%)
0      48.2
   index  국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  224684  1325  61    231  3505  229806  2010-12  아시아      97.8

   전체 비율(%)
0      44.9
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  189601  1697  115    557  4331  196301  2011-01  아시아      96.6

   전체 비율(%)
0      47.4
   index  국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  213970  1828  70   1310  4140  221318  2011-02  아시아      96.7

   전체 비율(%)
0      49.7
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  262003  1364  102    525  4361  268355  2011-03  아시아      97.6

   전체 비율(%)
0      48.6
   index  국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  213645  1271  52    224  4950  220142  2011-04  아시아      97.0

   전체 비율(%)
0      39.3
   index  국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  229017  1614  58    274  3663  234626  2011-05  아시아      97.6

   전체 비율(%)
0      42.7
   index  국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  249397  1482  72    428  3493  254872  2011-06  아시아      97.9

   전체 비율(%)
0      42.5
   index  국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  269455  1422  69    375  3996  275317  2011-07  아시아      97.9

   전체 비율(%)
0      40.3
   index  국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  315693  1773  92   1411  6958  325927  2011-08  아시아      96.9

   전체 비율(%)
0      44.0
   index  국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  312686  1836  72    653  5984  321231  2011-09  아시아      97.3

   전체 비율(%)
0      46.3
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  332700  1513  111    277  5571  340172  2011-10  아시아      97.8

   전체 비율(%)
0      43.3
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  325057  1513  347    286  4518  331721  2011-11  아시아      98.0

   전체 비율(%)
0      48.0
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  293435  1444  111    383  3696  299069  2011-12  아시아      98.1

   전체 비율(%)
0      44.4
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  235585  2456  141    757  5431  244370  2012-01  아시아      96.4

   전체 비율(%)
0      42.3
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  287950  1288  117   1105  3857  294317  2012-02  아시아      97.8

   전체 비율(%)
0      50.1
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  353455  1718  171    946  4429  360719  2012-03  아시아      98.0

   전체 비율(%)
0      49.7
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  291877  1510  127    247  4895  298656  2012-04  아시아      97.7

   전체 비율(%)
0      37.7
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  306488  1914  125    377  7694  316598  2012-05  아시아      96.8

   전체 비율(%)
0      41.8
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  296274  1492  103    627  3887  302383  2012-06  아시아      98.0

   전체 비율(%)
0      39.2
   index  국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  291787  1573  86    427  5604  299477  2012-07  아시아      97.4

   전체 비율(%)
0      35.9
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  334318  1940  132   1456  9104  346950  2012-08  아시아      96.4

   전체 비율(%)
0      39.1
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  301543  1349  125    916  4949  308882  2012-09  아시아      97.6

   전체 비율(%)
0      39.3
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  259529  2317  463    409  7014  269732  2012-10  아시아      96.2

   전체 비율(%)
0      32.7
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  243495  1633  181    358  3814  249481  2012-11  아시아      97.6

   전체 비율(%)
0      36.7
   index  국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  220917  1607  68    450  4185  227227  2012-12  아시아      97.2

   전체 비율(%)
0      33.3
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  198320  2285  127    941  4801  206474  2013-01  아시아      96.1

   전체 비율(%)
0      34.7
   index  국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  209621  1902  94   1467  4069  217153  2013-02  아시아      96.5

   전체 비율(%)
0      34.5
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  280541  1957  146    976  5280  288900  2013-03  아시아      97.1

   전체 비율(%)
0      37.1
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  194611  1612  110    299  5897  202529  2013-04  아시아      96.1

   전체 비율(%)
0      26.8
   index  국적      관광    상용  공용  유학/연수     기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  205412  3997  64    416  13047  222936  2013-05  아시아      92.1

   전체 비율(%)
0      31.2
   index  국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  191995  2121  90    633  6324  201163  2013-06  아시아      95.4

   전체 비율(%)
0      25.3
   index  국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  200452  1921  89    417  5340  208219  2013-07  아시아      96.3

   전체 비율(%)
0      23.0
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  258870  2470  100   1760  7382  270582  2013-08  아시아      95.7

   전체 비율(%)
0      26.2

   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  234591  3054  171    902  8208  246926  2013-09  아시아      95.0

   전체 비율(%)
0      27.5
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  235183  2028  513    292  7005  245021  2013-10  아시아      96.0

   전체 비율(%)
0      28.1
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  215737  2085  134    446  4395  222797  2013-11  아시아      96.8

   전체 비율(%)
0      30.4
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  208626  1860  115    427  4022  215050  2013-12  아시아      97.0

   전체 비율(%)
0      28.5
   index  국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  164038  2564  81    720  4674  172077  2014-01  아시아      95.3

   전체 비율(%)
0      25.6
   index  국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  181307  2585  90   1629  4111  189722  2014-02  아시아      95.6

   전체 비율(%)
0      28.2
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  239575  2315  183    851  4338  247262  2014-03  아시아      96.9

   전체 비율(%)
0      27.7
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  169382  1819  149    243  8000  179593  2014-04  아시아      94.3

   전체 비율(%)
0      17.3
   index  국적      관광    상용  공용  유학/연수     기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  184996  3780  92    391  12230  201489  2014-05  아시아      91.8

   전체 비율(%)
0      19.4
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  164438  2230  146    574  5668  173056  2014-06  아시아      95.0

   전체 비율(%)
0      17.4
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  164741  1837  108    385  5356  172427  2014-07  아시아      95.5

   전체 비율(%)
0      16.0
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  198068  2506  163   1778  5632  208147  2014-08  아시아      95.2

   전체 비율(%)
0      18.3
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  186840  2476  216    629  6145  196306  2014-09  아시아      95.2

   전체 비율(%)
0      19.9
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  182575  2074  481    294  4911  190335  2014-10  아시아      95.9

   전체 비율(%)
0      17.3
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  172285  2155  189    383  4521  179533  2014-11  아시아      96.0

   전체 비율(%)
0      19.1
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  164921  1658  128    392  3388  170487  2014-12  아시아      96.7

   전체 비율(%)
0      18.6
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  131909  2606  110    695  4312  139632  2015-01  아시아      94.5

   전체 비율(%)
0      18.2
   index  국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  134366  2464  96   1674  3987  142587  2015-02  아시아      94.2

   전체 비율(%)
0      16.5
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  211846  1958  186    824  4118  218932  2015-03  아시아      96.8

   전체 비율(%)
0      22.1
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  147108  1774  200    260  5060  154402  2015-04  아시아      95.3

   전체 비율(%)
0      13.2
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  176044  2428  132    336  9480  188420  2015-05  아시아      93.4

   전체 비율(%)
0      16.6
   index  국적     관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  93726  1770  149    504  5057  101206  2015-06  아시아      92.6

   전체 비율(%)
0      18.1
   index  국적     관광    상용   공용  유학/연수    기타      계     기준년월   대륙  관광객비율(%)  \
0      1  일본  74890  1820  118    370  4550  81748  2015-07  아시아      91.6

   전체 비율(%)
0      17.9
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  137125  2491  131   1788  7097  148632  2015-08  아시아      92.3

   전체 비율(%)
0      18.8
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  150080  2261  147    694  4131  157313  2015-09  아시아      95.4

   전체 비율(%)
0      16.5
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  172411  2064  280    251  5342  180348  2015-10  아시아      95.6

   전체 비율(%)
0      16.0
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  158383  2030  533    393  3346  164685  2015-11  아시아      96.2

   전체 비율(%)
0      17.4
   index  국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  154643  1734  88    411  3001  159877  2015-12  아시아      96.7

   전체 비율(%)
0      17.2
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  129290  2617  139    762  4076  136884  2016-01  아시아      94.5

   전체 비율(%)
0      14.9
   index  국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  136324  2323  80   1892  3874  144493  2016-02  아시아      94.3

   전체 비율(%)
0      16.0
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  217623  2022  156    598  3929  224328  2016-03  아시아      97.0

   전체 비율(%)
0      19.4
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  169211  1779  153    204  3936  175283  2016-04  아시아      96.5

   전체 비율(%)
0      13.9
   index  국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  171675  2246  89    499  4226  178735  2016-05  아시아      96.1

   전체 비율(%)
0      14.3
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  173883  1960  167    473  3709  180192  2016-06  아시아      96.5

   전체 비율(%)
0      13.6
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  179569  1981  139    471  4034  186194  2016-07  아시아      96.4

   전체 비율(%)
0      12.8
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  215859  2273  183   1974  5167  225456  2016-08  아시아      95.7

   전체 비율(%)
0      16.4
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  200876  2357  159    739  4628  208759  2016-09  아시아      96.2

   전체 비율(%)
0      16.7
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  220409  1963  291    315  4171  227149  2016-10  아시아      97.0

   전체 비율(%)
0      16.9
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  206968  1931  150    431  3731  213211  2016-11  아시아      97.1

   전체 비율(%)
0      19.2
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  191412  1768  115    432  3482  197209  2016-12  아시아      97.1

   전체 비율(%)
0      17.4
   index  국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  146111  2948  91    776  4936  154862  2017-01  아시아      94.3

   전체 비율(%)
0      14.9
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  177671  1677  103   1934  3647  185032  2017-02  아시아      96.0

   전체 비율(%)
0      18.6
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  267416  2042  121    805  4094  274478  2017-03  아시아      97.4

   전체 비율(%)
0      27.6
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  159263  1604  118    339  4424  165748  2017-04  아시아      96.1

   전체 비율(%)
0      18.6
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  151502  2395  109    670  4703  159379  2017-05  아시아      95.1

   전체 비율(%)
0      20.5

   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  161395  1739  106    635  3910  167785  2017-06  아시아      96.2

   전체 비율(%)
0      20.8
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  163712  1955  118    521  4328  170634  2017-07  아시아      95.9

   전체 비율(%)
0      20.9
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  216683  2261  198   2189  5404  226735  2017-08  아시아      95.6

   전체 비율(%)
0      26.5
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  213446  1535  220    675  4092  219968  2017-09  아시아      97.0

   전체 비율(%)
0      25.4
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  171182  2613  229    612  5025  179661  2017-10  아시아      95.3

   전체 비율(%)
0      19.0
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  207088  1897  170    486  3819  213460  2017-11  아시아      97.0

   전체 비율(%)
0      23.5
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  187745  1706  132    480  3642  193705  2017-12  아시아      96.9

   전체 비율(%)
0      20.3
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  159174  2357  138    842  4572  167083  2018-01  아시아      95.3

   전체 비율(%)
0      21.4
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  159831  1966  144   1898  4402  168241  2018-02  아시아      95.0

   전체 비율(%)
0      20.2
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  287578  1896  214    890  3898  294476  2018-03  아시아      97.7

   전체 비율(%)
0      26.5
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  207727  1707  117    300  4002  213853  2018-04  아시아      97.1

   전체 비율(%)
0      19.0
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  220375  2214  115    568  3958  227230  2018-05  아시아      97.0

   전체 비율(%)
0      22.2
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  228667  1752  116    709  4049  235293  2018-06  아시아      97.2

   전체 비율(%)
0      21.7
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  224273  1833  203    567  3636  230512  2018-07  아시아      97.3

   전체 비율(%)
0      21.8
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  306108  2076  136   2220  4485  315025  2018-08  아시아      97.2

   전체 비율(%)
0      27.8
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  240457  2182  208   1049  3951  247847  2018-09  아시아      97.0

   전체 비율(%)
0      23.7
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  283494  1877  557    404  4136  290468  2018-10  아시아      97.6

   전체 비율(%)
0      22.3
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  293965  1810  159    514  3530  299978  2018-11  아시아      98.0

   전체 비율(%)
0      26.0
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  252461  1698  161    608  3593  258521  2018-12  아시아      97.7

   전체 비율(%)
0      22.7
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  198805  2233  127    785  4576  206526  2019-01  아시아      96.3

   전체 비율(%)
0      22.5
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  204697  2125  119   2084  4175  213200  2019-02  아시아      96.0

   전체 비율(%)
0      22.5
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  367157  2108  126   1231  4497  375119  2019-03  아시아      97.9

   전체 비율(%)
0      29.3
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  283101  1584  126    333  4948  290092  2019-04  아시아      97.6

   전체 비율(%)
0      20.5
   index  국적      관광    상용  공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  279174  2019  91    715  4274  286273  2019-05  아시아      97.5

   전체 비율(%)
0      22.6
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  275286  1901  136    771  4382  282476  2019-06  아시아      97.5

   전체 비율(%)
0      22.2
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  267816  1855  149    694  4316  274830  2019-07  아시아      97.4

   전체 비율(%)
0      22.0
   index  국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)  \
0      1  일본  318985  2195  165   2957  5350  329652  2019-08  아시아      96.8

   전체 비율(%)
0      25.5

### 병합하기

In [24]:
df_all = pd.DataFrame()      # for문이랑 다른 칸(?)에 실행해놓으면 for문 돌릴 때마다 df_all안에 계속 추가됨
                             # for문이랑 같은 칸에 있으면 실행할 때마다 초기화함 


for year in range(2010, 2020) :
    for mon in range(1, 13) :
        try : 
            file_path= './files/kto_{}{}.xlsx'.format(year, str(mon).zfill(2))

            df = pd.read_excel(file_path, header=1, skipfooter=4, usecols='A:G')
            # print(len(df))

            df['기준년월'] = '{}-{}'.format(year, str(mon).zfill(2))

            continents_list = ['아시아주', '미주', '구주', '대양주', 
                               '아프리카주', '기타대륙', '교포소계']

            df['국적'].isin(continents_list)

            condition = ( df['국적'].isin(continents_list) )

            df_country = df[condition == False]

            df_country_newindex = df_country.reset_index(drop = True)   

            continents = ['아시아']*25 + ['아메리카']*5 + ['유럽']*23 + \
                         ['오세아니아']*3 + ['아프리카']*2 + ['기타대륙'] + ['교포']

            df_country_newindex['대륙'] = continents

            df_country_newindex['관광객비율(%)'] = (round((df_country_newindex['관광'] \
                                                     / df_country_newindex['계'])*100, 1))

            df_country_newindex['전체 비율(%)'] = (round( (df_country_newindex['관광'] \
                                                     / sum(df_country_newindex['관광']))*100, 1))
            
            # 통합하기
            df_all = df_all.append(df_country_newindex, ignore_index = True)
            
            # print(df_country_newindex.head(1))
        
        except :         
            pass           # 오류 나는 건 패스하겠다

len(df_all)

6960

## 함수로 만들기

In [34]:
# 함수 만들기
# 함수 이름 : create_kto_data(xxx, xxx)

def create_kto_data(year, mon) :
    
    file_path= './files/kto_{}{}.xlsx'.format(year, str(mon).zfill(2))

    df = pd.read_excel(file_path, header=1, skipfooter=4, usecols='A:G')
    # print(len(df))

    df['기준년월'] = '{}-{}'.format(year, str(mon).zfill(2))

    continents_list = ['아시아주', '미주', '구주', '대양주', 
                       '아프리카주', '기타대륙', '교포소계']

    df['국적'].isin(continents_list)

    condition = ( df['국적'].isin(continents_list) )

    df_country = df[condition == False]

    df_country_newindex = df_country.reset_index(drop = True)   

    continents = ['아시아']*25 + ['아메리카']*5 + ['유럽']*23 + \
                 ['오세아니아']*3 + ['아프리카']*2 + ['기타대륙'] + ['교포']

    df_country_newindex['대륙'] = continents

    df_country_newindex['관광객비율(%)'] = (round((df_country_newindex['관광'] \
                                             / df_country_newindex['계'])*100, 1))

    df_country_newindex['전체 비율(%)'] = (round( (df_country_newindex['관광'] \
                                             / sum(df_country_newindex['관광']))*100, 1))
    
    return df_country_newindex

In [29]:
create_kto_data(2019, 1)

,index,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체 비율(%)
0,1,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.3,22.5
1,2,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.2,9.8
2,3,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.5,3.9
3,4,마카오,2506,2,0,17,45,2570,2019-01,아시아,97.5,0.3
4,5,태국,34004,37,199,96,6998,41334,2019-01,아시아,82.3,3.8
5,6,말레이시아,19043,95,7,99,2821,22065,2019-01,아시아,86.3,2.2
6,7,필리핀,14279,211,161,184,15638,30473,2019-01,아시아,46.9,1.6
7,8,인도네시아,14183,136,38,187,4298,18842,2019-01,아시아,75.3,1.6
8,9,싱가포르,8372,94,8,48,1333,9855,2019-01,아시아,85.0,0.9
9,10,미얀마,1304,10,31,67,3877,5289,2019-01,아시아,24.7,0.1
10,11,베트남,10739,763,110,1667,6904,20183,2019-01,아시아,53.2,1.2
11,12,인도,2318,2656,46,177,3474,8671,2019-01,아시아,26.7,0.3
12,13,스리랑카,157,54,5,28,1043,1287,2019-01,아시아,12.2,0.0
13,14,파키스탄,238,178,10,193,413,1032,2019-01,아시아,23.1,0.0
14,15,방글라데시,149,126,27,97,848,1247,2019-01,아시아,11.9,0.0
15,16,캄보디아,635,39,55,51,1915,2695,2019-01,아시아,23.6,0.1
16,17,몽골,8358,77,304,484,562,9785,2019-01,아시아,85.4,0.9
17,18,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,81.5,36.2
18,19,이란,60,45,10,23,46,184,2019-01,아시아,32.6,0.0
19,20,이스라엘,727,12,0,9,57,805,2019-01,아시아,90.3,0.1
20,21,터키,792,13,32,36,912,1785,2019-01,아시아,44.4,0.1
21,22,우즈베키스탄,1958,561,0,407,2828,5754,2019-01,아시아,34.0,0.2
22,23,카자흐스탄,2185,24,7,92,1266,3574,2019-01,아시아,61.1,0.2
23,24,GCC,1550,37,14,72,103,1776,2019-01,아시아,87.3,0.2
24,25,아시아 기타,1561,308,70,205,2410,4554,2019-01,아시아,34.3,0.2
25,27,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,68.5,4.9
26,28,캐나다,8034,57,30,43,4296,12460,2019-01,아메리카,64.5,0.9
27,29,멕시코,1282,11,7,38,515,1853,2019-01,아메리카,69.2,0.1
28,30,브라질,1136,16,9,41,403,1605,2019-01,아메리카,70.8,0.1
29,31,미주 기타,1541,24,33,128,540,2266,2019-01,아메리카,68.0,0.2
30,33,영국,7982,175,17,41,1933,10148,2019-01,유럽,78.7,0.9
31,34,독일,4925,278,19,177,1451,6850,2019-01,유럽,71.9,0.6
32,35,프랑스,3773,297,48,288,1168,5574,2019-01,유럽,67.7,0.4
33,36,네덜란드,1592,47,16,77,537,2269,2019-01,유럽,70.2,0.2
34,37,스웨덴,844,29,6,18,85,982,2019-01,유럽,85.9,0.1
35,38,스위스,613,18,0,19,97,747,2019-01,유럽,82.1,0.1
36,39,이탈리아,1968,83,17,40,623,2731,2019-01,유럽,72.1,0.2
37,40,덴마크,520,21,6,16,188,751,2019-01,유럽,69.2,0.1
38,41,노르웨이,552,66,4,28,151,801,2019-01,유럽,68.9,0.1
39,42,벨기에,490,24,4,22,169,709,2019-01,유럽,69.1,0.1
40,43,오스트리아,544,8,2,13,209,776,2019-01,유럽,70.1,0.1
41,44,스페인,1010,36,15,52,255,1368,2019-01,유럽,73.8,0.1
42,45,그리스,481,17,4,0,273,775,2019-01,유럽,62.1,0.1
43,46,포르투갈,416,14,0,13,121,564,2019-01,유럽,73.8,0.0
44,47,핀란드,412,23,1,18,405,859,2019-01,유럽,48.0,0.0
45,48,아일랜드,392,15,1,2,185,595,2019-01,유럽,65.9,0.0
46,49,우크라이나,593,58,3,28,1580,2262,2019-01,유럽,26.2,0.1
47,50,러시아,17260,181,37,191,7525,25194,2019-01,유럽,68.5,2.0
48,51,크로아티아,226,12,0,3,250,491,2019-01,유럽,46.0,0.0
49,52,루마니아,412,8,4,3,445,872,2019-01,유럽,47.2,0.0
50,53,불가리아,154,1,1,10,265,431,2019-01,유럽,35.7,0.0
51,54,폴란드,713,10,0,27,574,1324,2019-01,유럽,53.9,0.1
52,55,구주 기타,1809,44,25,91,996,2965,2019-01,유럽,61.0,0.2
53,57,오스트레일리아,12795,93,17,34,1346,14285,2019-01,오세아니아,89.6,1.4
54,58,뉴질랜드,2029,20,17,5,654,2725,2019-01,오세아니아,74.5,0.2
55,59,대양주 기타,555,3,4,0,52,614,2019-01,오세아니아,90.4,0.1
56,61,남아프리카공화국,368,9,1,6,616,1000,2019-01,아프리카,36.8,0.0
57,62,아프리카 기타,768,718,90,206,908,2690,2019-01,아프리카,28.6,0.1
58,64,국적미상,33,4,0,1,16,54,2019-01,기타대륙,61.1,0.0
59,66,교포,0,0,0,0,15526,15526,2019-01,교포,0.0,0.0

In [35]:
df_all = pd.DataFrame()

for year in range(2010, 2020) :
    for mon in range(1, 13) :
        try : 
            
            # 힘수 호출하기
            temp = create_kto_data(year, mon)
            
            # 통합하기
            df_all = df_all.append(temp, ignore_index = True)
            
        except : 
            pass

len(df_all)

6960

In [32]:
df_all['국적'].unique()

array(['일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아', '싱가포르',
       '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골', '중국',
       '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타', '미국',
       '캐나다', '멕시코', '브라질', '미주 기타', '영국', '독일', '프랑스', '네덜란드', '스웨덴',
       '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인', '그리스', '포르투갈',
       '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아', '불가리아', '폴란드',
       '구주 기타', '오스트레일리아', '뉴질랜드', '대양주 기타', '남아프리카공화국', '아프리카 기타',
       '국적미상', '교포'], dtype=object)

In [38]:
# 최종본 저장하기
# 파일 이름 : kto_total.xlsx

df_all.to_excel(excel_writer = './kto_total.xlsx', index = False)

In [39]:
# 저장 잘 됐는지 확인하기
df_temp = pd.read_excel('./kto_total.xlsx')
len(df_temp)

6960

In [ ]:
# concat 는 그대로 그냥 붙임
#